# Development Environment
.env
.env.*
/env/
/venv/
/dist/
/build/
__pycache__/
*.py[cod]
*.egg-info/
*.egg-info/*

# Project Specific
/app/test*.py
/backups/
/caches/
/secrets/
/models/

# Data Science & Jupyter
.ipython
.ipynb_checkpoints
.jupyter
.local
/jupyterlab/

# IDE & Tools
.cursorrules